# generated 2022-03-05, Mozilla Guideline v5.6, nginx 1.18.0, OpenSSL 1.1.1k, old configuration
# https://ssl-config.mozilla.org/#server=nginx&version=1.18.0&config=old&openssl=1.1.1k&guideline=5.6

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    ssl_certificate {{ endpoint_fullchain_path }};
    ssl_certificate_key {{ endpoint_privkey_path }};
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
    ssl_session_tickets off;

    # openssl dhparam 1024 > /path/to/dhparam
    # ssl_dhparam /path/to/dhparam;

    # old configuration
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA256:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA;
    ssl_prefer_server_ciphers on;

    # gets forwarded from origin server
    # HSTS (ngx_http_headers_module is required) (63072000 seconds)
    # add_header Strict-Transport-Security "max-age=63072000" always;

    # OCSP stapling
    ssl_stapling on;
    ssl_stapling_verify on;

    # verify chain of trust of OCSP response using Root CA and Intermediate certs
    ssl_trusted_certificate {{ endpoint_chain_path }};

    # replace with the IP address of your resolver
    # resolver 127.0.0.1;

    if ($host != {{ cdn_domains[0] }}) {
        rewrite ^/(.*) https://{{ cdn_domains[0] }}/$1 permanent;
    }

    location / {
        proxy_pass             https://{{ new_origin_server }};

        proxy_buffering        on;
        proxy_cache            DEFAULT_ZONE;
        proxy_ignore_headers   Cache-Control;
        proxy_cache_valid      any 1m;
        proxy_cache_lock       on;
        proxy_cache_revalidate on;
        proxy_cache_min_uses   1;
        proxy_cache_use_stale  error timeout invalid_header updating
                               http_500 http_502 http_503 http_504;
    }

    location /badge {
        proxy_pass https://fdroid.gitlab.io/artwork/badge;
    }

    location /fdroid/repo {
        proxy_pass https://{{ new_origin_server }}/repo;
    }

    location /fdroid/archive {
        proxy_pass https://{{ new_origin_server }}/archive;
    }

    # stopgap measure for take-down: https://gitlab.com/fdroid/admin/-/issues/487
    location ~ .*/packages/com\.alaskalinuxuser\.justcraigslist/$ {
        return 404;
    }

    # stopgap measure for take-down: https://gitlab.com/fdroid/admin/-/issues/539
    location ~ .*/packages/de\.lukasneugebauer\.nextcloudcookbook/$ {
        return 404;
    }

    # stopgap measure for take-down: https://gitlab.com/fdroid/admin/-/issues/428
    location ~ .*/packages/(com\.jparkie\.aizoban|eu\.kanade\.tachiyomi|org\.nv95\.openmanga)/$ {
        if ( $geoip_country_code = "DE") {
            return 404;
        }
        proxy_pass https://{{ new_origin_server }};
    }

    # stopgap measure for take-down: https://gitlab.com/fdroid/admin/-/issues/474
    location ~ .*/packages/ie\.equalit\.ceno/$ {
        if ( $geoip_country_code = "RU") {
            return 404;
        }
        proxy_pass https://{{ new_origin_server }};
    }
}
